:root {
    --color-back: #FBF6E6;
    --color-header: #397F4E;
    --dark-header: #2e633e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-back);
}

body, ul {
    margin: 0;
    padding: 0;
}


/* header */

.header {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    background-color: var(--color-header);
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.32);
    height: 116px;
}

.header img {
    margin-left: 63px;
    width: 102px;
}

.header h1 {
    font-size: 48px;
}

.box-login {
    padding: 8px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-right: 83px;
}

.box-login a {
    text-decoration: none;
    color: #fff;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.box-login:hover {
    background-color: #306941;
    transition: 0.5s;
}


/* content */

.content {
    align-items: center;
}

.banner {
    margin: 78px 72px 0 71px;
    width: 1777px;
    height: 964px;
    border-radius: 51px;
    background-color: #000;
    position: relative;
}

.banner-campo {
    width: 1777px;
    border-radius: 50px;
    opacity: 0.72;
}

.banner-texto {
    position: absolute;
    color: #fff;
    top: 72px;
    left: 72px;
    right: 72px;
}

.banner-texto h1 {
    font-size: 64px;
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
}

.banner-texto p {
    font-family: "inter", sans-serif;
    font-size: 28px;
    font-weight: 350;
    margin-top: 156px;
    margin-bottom: 156px;
    margin-right: 998px;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 32px;
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    text-decoration: underline #fff 2px;
}

.align-text {
    display: flex;
    justify-content: space-between;
}

.saiba-mais {
    padding: 25px 94px;
    background-color: var(--color-header);
    border-radius: 15px;
    display: inline-block;
}

.saiba-mais a {
    font-family: "inter", sans-serif;
    font-size: 28px;
    font-weight: 350;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}

.saiba-mais:hover {
    background-color: var(--dark-header);
    transition: 0.5s;
}

.text-below-banner {
    margin-top: 9px;
    text-align: center;
}

.text-below-banner p {
    font-family: "inter", sans-serif;
    font-size: 12px;
}

.text-below-banner a {
    text-decoration: underline;
    color: #000;
}

.hr1 {
    width: 1202px;
    margin: 48px auto;
    background-color: #000;
    height: 1px;
    border: 0;
}